.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  img {
    height: 44px;
  }
  .title {
    margin-left: 15px;
  }
}